.main {
    width: 50rem;
    margin: auto;
}

.flex-row-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
table { 
    border-collapse: collapse; 
}

tr { 
    border: none; 
}

td {
    border-right: solid 1px rgb(129, 118, 118); 
    border-left: solid 1px rgb(129, 118, 118);
    align-items: baseline;
    padding-right: 0.5rem;
}
